/*
reset
*/

:root {
/*softer-green on boldest-ink/
--blank: #fff;
--ink: #000;

--green:;
--orange:;
--red:;
--purple:;
--blue:;

--blank:#eee;
--blank-green:;
--blank-orange:;
--blank-red:;
--blank-purple:;
--blank-blue:;

--ink:#222;
--ink-green:;
--ink-orange:;
--ink-red:;
--ink-purple:;
--ink-blue:;

--bold-blank: #fffd;
--bolder-blank: #fffa;
--softer-blank: #fff7;
--soft-blank: #fff4;
--softest-blank: #fff1;

--bold-ink: #000d;
--bolder-ink: #000a;
--softer-ink: #0007;
--soft-ink: #0004;
--softest-ink: #0001;
*/


font-size: 15px;
--smallest: 12px;
--small: 13px;
--smaller: 14px;
--norm: 15px;
--larger: 17px;
--large: 19px;
--largest: 21px;

--control-height: 2.4em;
--control-padding-x: 1em;
--control-radius: 0.5rem;
--radius: 1rem;

--base-font:
Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica,
Arial, sans-serif;
--mono-font:
Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;

--boldest-space: #fff;
--bold-space: #fffd;
--bolder-space: #fffa;
--softer-space: #fff7;
--soft-space: #fff4;
--softest-space: #fff1;

--boldest-thing: #000;
--bold-thing: #000d;
--bolder-thing: #000a;
--softer-thing: #0007;
--soft-thing: #0004;
--softest-thing: #0001;

--contrasty-light-scheme: #3c3c3c; /* grayscaled --contrasty-blue-light-scheme */
--contrasty-night-scheme: #b0b0b0; /* grayscaled --contrasty-blue-night-scheme */
--contrasty: var(--contrasty-light-scheme);
--contrasty2: var(--contrasty-night-scheme);

--contrasty-green-light-scheme: #004c00ed; /* softer-green on night scheme bold thing */
--contrasty-green-night-scheme: #7fcb7fed; /* softer-green on light scheme bold space */
--contrasty-green: var(--contrasty-green-light-scheme);
--contrasty-green2: var(--contrasty-green-night-scheme);
--boldest-green: #090;
--bold-green: #090d;
--bolder-green: #090a;
--softer-green: #0907;
--soft-green: #0904;
--softest-green: #0901;

--contrasty-red-light-scheme: #660000ed; /* soft-reder on night scheme bold thing */
--contrasty-red-night-scheme: #e57f7fed; /* soft-reder on light scheme bold space */
--contrasty-red: var(--contrasty-red-light-scheme);
--contrasty-red2: var(--contrasty-red-night-scheme);
--boldest-red: #c00;
--bold-red: #c00d;
--bolder-red: #c00a;
--softer-red: #c007;
--soft-red: #c004;
--softest-red: #c001;

--contrasty-blue-light-scheme: #00334ced; /* softer-blue on night scheme bold thing */
--contrasty-blue-night-scheme: #7fb2cbed; /* softer-blue on light scheme bold space */
--contrasty-blue: var(--contrasty-blue-light-scheme);
--contrasty-blue2: var(--contrasty-blue-night-scheme);
--boldest-blue: #069;
--bold-blue: #069d;
--bolder-blue: #069a;
--softer-blue: #0697;
--soft-blue: #0694;
--softest-blue: #0691;

--contrasty-purple-light-scheme: #4c0066ed; /* softer-purple on night scheme bold thing */
--contrasty-purple-night-scheme: #cb7fe5ed; /* softer-purple on light scheme bold space */
--contrasty-purple: var(--contrasty-purple-light-scheme);
--contrasty-purple2: var(--contrasty-purple-night-scheme);
--boldest-purple: #90c;
--bold-purple: #90cd;
--bolder-purple: #90ca;
--softer-purple: #90c7;
--soft-purple: #90c4;
--softest-purple: #90c1;

--contrasty-orange-light-scheme: #804c00ed; /* softer-orange on night scheme bold thing */
--contrasty-orange-night-scheme: #ffcb7fed; /* softer-orange on light scheme bold space */
--contrasty-orange: var(--contrasty-orange-light-scheme);
--contrasty-orange2: var(--contrasty-orange-night-scheme);
--boldest-orange: #f90;
--bold-orange: #f90d;
--bolder-orange: #f90a;
--softer-orange: #f907;
--soft-orange: #f904;
--softest-orange: #f901;
}

@media (prefers-color-scheme: dark) {
:root {
--boldest-space: #000;
--bold-space: #000d;
--bolder-space: #000a;
--softer-space: #0007;
--soft-space: #0004;
--softest-space: #0001;

--boldest-thing: #fff;
--bold-thing: #fffd;
--bolder-thing: #fffa;
--softer-thing: #fff7;
--soft-thing: #fff4;
--softest-thing: #fff1;

--contrasty: var(--contrasty-night-scheme);
--contrasty-green: var(--contrasty-green-night-scheme);
--contrasty-red: var(--contrasty-red-night-scheme);
--contrasty-blue: var(--contrasty-blue-night-scheme);
--contrasty-purple: var(--contrasty-purple-night-scheme);
--contrasty-orange: var(--contrasty-orange-night-scheme);

--contrasty2: var(--contrasty-light-scheme);
--contrasty-green2: var(--contrasty-green-light-scheme);
--contrasty-red2: var(--contrasty-red-light-scheme);
--contrasty-blue2: var(--contrasty-blue-light-scheme);
--contrasty-purple2: var(--contrasty-purple-light-scheme);
--contrasty-orange2: var(--contrasty-orange-light-scheme);
}
}

.night-scheme {
--boldest-space: #000;
--bold-space: #000d;
--bolder-space: #000a;
--softer-space: #0007;
--soft-space: #0004;
--softest-space: #0001;

--boldest-thing: #fff;
--bold-thing: #fffd;
--bolder-thing: #fffa;
--softer-thing: #fff7;
--soft-thing: #fff4;
--softest-thing: #fff1;

--contrasty: var(--contrasty-night-scheme);
--contrasty-green: var(--contrasty-green-night-scheme);
--contrasty-red: var(--contrasty-red-night-scheme);
--contrasty-blue: var(--contrasty-blue-night-scheme);
--contrasty-purple: var(--contrasty-purple-night-scheme);
--contrasty-orange: var(--contrasty-orange-night-scheme);

--contrasty2: var(--contrasty-light-scheme);
--contrasty-green2: var(--contrasty-green-light-scheme);
--contrasty-red2: var(--contrasty-red-light-scheme);
--contrasty-blue2: var(--contrasty-blue-light-scheme);
--contrasty-purple2: var(--contrasty-purple-light-scheme);
--contrasty-orange2: var(--contrasty-orange-light-scheme);
}

.notable-green,
a.notable-green,
a[href].notable-green,
a[onclick].notable-green {
background: var(--soft-green);
color: var(--contrasty-green);
border-radius: 0.5rem;
}

.notable-red,
a.notable-red,
a[href].notable-red,
a[onclick].notable-red {
background: var(--soft-red);
color: var(--contrasty-red);
border-radius: 0.5rem;
}

.header.notable-red {
background-color: var(--contrasty-red-night-scheme);
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.header.notable-orange {
background-color: var(--contrasty-orange-night-scheme);
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.header.notable-green {
background-color: var(--contrasty-green-night-scheme);
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.red-inverted {
background: var(--contrasty-red);
color: var(--bold-space);
}

.blue-notable,
a.blue-notable,
a[href].blue-notable,
a[onclick].blue-notable {
background: var(--soft-blue);
color: var(--contrasty-blue);
border-radius: 0.5rem;
}

.blue-inverted {
background: var(--contrasty-blue);
color: var(--bold-space);
}

.purple-notable,
a.purple-notable,
a[href].purple-notable,
a[onclick].purple-notable {
background: var(--soft-purple);
color: var(--contrasty-purple);
border-radius: 0.5rem;
}

.notable-orange,
a.notable-orange,
a[href].notable-orange,
a[onclick].notable-orange {
background: var(--soft-orange);
color: var(--contrasty-orange);
border-radius: 0.5rem;
}

li.notable-green,
li.notable-orange,
li.notable-red,
li.purple-notable,
li.blue-notable {
border-radius: 0px;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
iframe,
blockquote,
figure,
fieldset,
legend,
code,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
color: inherit;
font-family: var(--base-font);
font-size: 1em;
line-height: 1.5em;
margin: 0;
padding: 0;
}

html {
color: var(--bold-thing);
box-sizing: border-box;
background-color: var(--boldest-space);
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
overflow-x: auto;
overflow-y: scroll;
text-size-adjust: 100%;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
font-weight: normal;
}

img,
video {
height: auto;
max-width: 100%;
}

code,
pre {
font-family: var(--mono-font);
}

i {
font-style: normal;
}

ul {
list-style: none;
}

iframe {
border: 0;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

td,
th {
padding: 0.5rem;
border: 0;
}

td:not([align]),
th:not([align]) {
text-align: inherit;
}

a,
button {
cursor: pointer;
}

button:focus,
button:focus-visible,
sbutton:focus-visible:active,
button:active,
input:focus-visible,
input:focus-visible:active,
input:active,
select:focus,
select:focus-visible,
select:focus-visible:active,
select:active,
textarea:focus-visible,
textarea:focus-visible:active,
textarea:active {
outline: 2px solid var(--bolder-thing);
outline-offset: -2px;
}

hr {
border: 0;
border-top: 2px solid var(--bolder-thing);
display: block;
height: 0;
margin: 0;
}

img {
height: auto;
max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
vertical-align: middle;
margin-right: 0.25rem;
}

small {
font-size: var(--small);
}

strong {
font-weight: bold;
}

em {
font-style: italic;
}

svg {
height: auto;
width: auto;
}

optgroup,
fieldset {
border: none;
}

table td,
table th {
vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
text-align: inherit;
}

select,
input:not([type="radio"], [type="checkbox"]),
textarea,
button {
appearance: none;
border: 1px solid var(--soft-thing);
border-radius: var(--control-radius);
height: var(--control-height);
padding-left: 1em;
padding-right: 1em;
box-shadow: none;
position: relative;
vertical-align: top;
}

select,
input,
textarea {
background: var(--bold-space);
}

select {
padding-right: 2em;
padding-left: calc(1em - 1px);
background-image: url("data:image/svg+xml,%3Csvg%20fill=%22black%22%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20512%20512%22%3E%3Cpath%20d=%22M233.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200l192-192c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L256%20338.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l192%20192z%22/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-size: 0.75em;
background-position: right 0.75em center;
}

@media (prefers-color-scheme: dark) {
select {
background-image: url("data:image/svg+xml,%3Csvg%20fill=%22white%22%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20512%20512%22%3E%3Cpath%20d=%22M233.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200l192-192c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L256%20338.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l192%20192z%22/%3E%3C/svg%3E");
}
}

.night-scheme select {
background-image: url("data:image/svg+xml,%3Csvg%20fill=%22white%22%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20512%20512%22%3E%3Cpath%20d=%22M233.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200l192-192c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L256%20338.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l192%20192z%22/%3E%3C/svg%3E");
}

textarea {
padding-top: calc(0.5em + 1px);
}

button {
text-align: center;
background: var(--softest-thing);
}

td > select,
td > input,
td > textarea,
td > button {
width: 100%;
}

table.grid {
width: calc(100% + 1em);
margin: -0.5em;
}

.grid tr.null {
display: table-row;
}
.grid tr.null td * {
display: none;
}

.grid td {
width: calc(100% / 2);
}

.blank.-edit .grid td:first-child {
width: calc(100% * 2 / 3);
}

.blank.-edit .grid td:last-child {
width: calc(100% / 3);
}

p {
margin: 1em 0px;
}

a[href],
a[onclick] {
color: var(--bold-blue);
text-decoration: underline;
}

@keyframes spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(359deg);
}
}
@keyframes pulsate {
50% {
opacity: 0.5;
}
}

.fullwidth {
width: 100%;
}

:not(body).-vk {
display: none;
}

body.-vk .-vk {
display: unset;
}

b.badge {
float: left;
font-size: 2rem;
font-family: var(--mono-font);
}

b.badge,
b.badge b,
b.badge u,
b.badge a {
display: flex;
width: 100%;
aspect-ratio: 1;
border-radius: 0.5rem;
}

b.badge a {
width: 80%;
margin: auto;
border-radius: 100%;
background-size: calc(100% + 2px);
background-position: center;
position: relative;
}

b.badge a:first-child {
margin: auto -40%;
z-index: 0;
left: 50%;
background: none;
border: none;
}

b.badge u {
width: calc(100% - 4px);
margin: auto;
border: 2px dotted var(--softer-thing);
text-decoration: none;
}

b.badge i {
margin: auto;
text-align: center;
line-height: 50%;
}

b.badge,
b.badge a {
border: 1px solid var(--soft-thing);
}

b.badge,
b.badge a:first-of-type {
background: var(--softest-thing);
text-decoration: none;
}

b.badge a b {
border-radius: 100%;
width: calc(100% + 2px);
margin: -1px;
}

b.badge.sepia b {
backdrop-filter: sepia();
}

b.badge.grayscale b,
b.badge.grayscale i {
backdrop-filter: grayscale();
}
