/* reset */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
iframe,
blockquote,
figure,
fieldset,
legend,
code,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
color: inherit;
font-family: var(--base-font);
font-size: 1em;
line-height: 1.5em;
margin: 0;
padding: 0;
}




/* color */

:root {

--inky: #1f1f1f;
--milky: #f1f1f1;
--richest-ink: #000;
--richest-milk: #fff;

--green:#090;
--orange:#f90;
--red:#c00;
--purple:#90c;
--blue:#069;

--richest-milk: #fff;
--rich-milk: color-mix(in lab, var(--richest-milk) 83%, transparent);
--richer-milk: color-mix(in lab, var(--richest-milk) 66%, transparent);
--poorer-milk: color-mix(in lab, var(--richest-milk) 49%, transparent);
--poor-milk: color-mix(in lab, var(--richest-milk) 32%, transparent);
--poorest-milk: color-mix(in lab, var(--richest-milk) 15%, transparent);

--richest-ink: #000;
--rich-ink: color-mix(in lab, var(--richest-ink) 83%, transparent);
--richer-ink: color-mix(in lab, var(--richest-ink) 66%, transparent);
--poorer-ink: color-mix(in lab, var(--richest-ink) 49%, transparent);
--poor-ink: color-mix(in lab, var(--richest-ink) 32%, transparent);
--poorest-ink: color-mix(in lab, var(--richest-ink) 15%, transparent);
--milky-poorest-ink: color-mix(in lab, var(--richest-ink) 15%, var(--richest-milk));

--inky-poorer-green: color-mix(in lab, var(--green) 49%, var(--richest-ink));
--inky-richer-green: color-mix(in lab, var(--green) 66%, var(--richest-ink));
--inky-rich-green: color-mix(in lab, var(--green) 83%, var(--richest-ink));
--richest-green: var(--inky-rich-green);
--rich-green: color-mix(in lab, var(--green) 83%, transparent);
--richer-green: color-mix(in lab, var(--green) 66%, transparent);
--poorer-green: color-mix(in lab, var(--green) 49%, transparent);
--poor-green: color-mix(in lab, var(--green) 32%, transparent);
--poorest-green: color-mix(in lab, var(--green) 15%, transparent);
--milky-poor-green: color-mix(in lab, var(--green) 32%, var(--richest-milk));
--milky-poorest-green: color-mix(in lab, var(--green) 15%, var(--richest-milk));

--inky-poorer-orange: color-mix(in lab, var(--orange) 49%, var(--richest-ink));
--inky-richer-orange: color-mix(in lab, var(--orange) 66%, var(--richest-ink));
--inky-rich-orange: color-mix(in lab, var(--orange) 83%, var(--richest-ink));
--richest-orange: var(--inky-rich-orange);
--rich-orange: color-mix(in lab, var(--orange) 83%, transparent);
--richer-orange: color-mix(in lab, var(--orange) 66%, transparent);
--poorer-orange: color-mix(in lab, var(--orange) 49%, transparent);
--poor-orange: color-mix(in lab, var(--orange) 32%, transparent);
--poorest-orange: color-mix(in lab, var(--orange) 15%, transparent);
--milky-poor-orange: color-mix(in lab, var(--orange) 32%, var(--richest-milk));
--milky-poorest-orange: color-mix(in lab, var(--orange) 15%, var(--richest-milk));

--inky-poorer-red: color-mix(in lab, var(--red) 49%, var(--richest-ink));
--inky-richer-red: color-mix(in lab, var(--red) 66%, var(--richest-ink));
--inky-rich-red: color-mix(in lab, var(--red) 83%, var(--richest-ink));
--richest-red: var(--inky-rich-red);
--rich-red: color-mix(in lab, var(--red) 83%, transparent);
--richer-red: color-mix(in lab, var(--red) 66%, transparent);
--poorer-red: color-mix(in lab, var(--red) 49%, transparent);
--poor-red: color-mix(in lab, var(--red) 32%, transparent);
--poorest-red: color-mix(in lab, var(--red) 15%, transparent);
--milky-poor-red: color-mix(in lab, var(--red) 32%, var(--richest-milk));
--milky-poorest-red: color-mix(in lab, var(--red) 15%, var(--richest-milk));

--inky-poorer-purple: color-mix(in lab, var(--purple) 49%, var(--richest-ink));
--inky-richer-purple: color-mix(in lab, var(--purple) 66%, var(--richest-ink));
--inky-rich-purple: color-mix(in lab, var(--purple) 83%, var(--richest-ink));
--richest-purple: var(--inky-rich-purple);
--rich-purple: color-mix(in lab, var(--purple) 83%, transparent);
--richer-purple: color-mix(in lab, var(--purple) 66%, transparent);
--poorer-purple: color-mix(in lab, var(--purple) 49%, transparent);
--poor-purple: color-mix(in lab, var(--purple) 32%, transparent);
--poorest-purple: color-mix(in lab, var(--purple) 15%, transparent);
--milky-poor-purple: color-mix(in lab, var(--purple) 32%, var(--richest-milk));
--milky-poorest-purple: color-mix(in lab, var(--purple) 15%, var(--richest-milk));

--inky-poorer-blue: color-mix(in lab, var(--blue) 49%, var(--richest-ink));
--inky-richer-blue: color-mix(in lab, var(--blue) 66%, var(--richest-ink));
--inky-rich-blue: color-mix(in lab, var(--blue) 83%, var(--richest-ink));
--richest-blue: var(--inky-rich-blue);
--rich-blue: color-mix(in lab, var(--blue) 83%, transparent);
--richer-blue: color-mix(in lab, var(--blue) 66%, transparent);
--poorer-blue: color-mix(in lab, var(--blue) 49%, transparent);
--poor-blue: color-mix(in lab, var(--blue) 32%, transparent);
--poorest-blue: color-mix(in lab, var(--blue) 15%, transparent);
--milky-poor-blue: color-mix(in lab, var(--blue) 32%, var(--richest-milk));
--milky-poorest-blue: color-mix(in lab, var(--blue) 15%, var(--richest-milk));

}

@media (prefers-color-scheme: dark) {
:root {
--inky: #f1f1f1;
--milky: #1f1f1f;
--richest-ink: #fff;
--richest-milk: #000;
}
}



/* setup */

:root {
--texture:
    repeating-linear-gradient(
        -60deg,
        transparent,
        transparent 2px,
        var(--softer-space) 2px,
        var(--softer-space) 4px),
    repeating-linear-gradient(
        30deg,
        transparent,
        transparent 3px,
        var(--softer-space) 3px,
        var(--softer-space) 4px),
    linear-gradient(
        120deg,
        var(--bold-space) 72px,
        var(--soft-space) 360px);
}

:root {
font-size: 16px;
}

body {
--size-xxs: 12px;
--size-xs: 13px;
--size-s: 14px;
--size-m: 15px;
--size-l: calc(1rem * 1.2);
--size-xl: 21;
--size-xxl:;

font-size: var(size-m);
line-height: 1.4;

--control-height: 2.4em;
--control-padding-x: 1em;
--control-radius: 0.5rem;
--radius: 1rem;

--base-font:
Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica,
Arial, sans-serif;
--mono-font:
Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;





.blank {
background: var(--milky);
}
